/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */
html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  font-family: "Patrick Hand", cursive;
  font-size: 14px;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35dvh;
  gap: 0.2rem;
  color: #ffffff;
  background-image: url(../Assets/natural.png);
  background-size: cover;
  background-position: center;
}

.header h1 {
  font-size: 2rem;
}

/* Main */
.main {
  position: relative;
  width: 90%;
  top: -30px;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px #000;
}

.main__form {
  display: flex;
  justify-content: center;
}

.main__form input,
button {
  outline: none;
  border: 1px solid transparent;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem 0 0 0.2rem;
  background-color: #94c1d6;
}

.main__form input {
  width: 90%;
}

.main__form button {
  border-radius: 0 0.2rem 0.2rem 0;
}

.main__form input:focus {
  transition: all 0.5s ease-in;
  border: 1px solid #94c1d6;
  background-color: transparent;
}

.main__taskView {
  list-style: none;
}

.taskView__item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #94c1d6;
}


/* Footer */
.footer {
  text-align: center;
  padding: 2rem;
  color: #3b424a;
  background-color: #94c1d6;
}

.footer__link {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 1rem;
}

.footer__link a {
  text-decoration: none;
  font-weight: 700;
  color: #3b424a;
}

.completado {
  text-decoration: line-through;
  color: #008000;
}

.completadoBtn {
  text-decoration: none !important;
  background-color: #ff0000;
}

/* Media Queries */
@media(min-width: 768px) {

  /* Header */
  .header {
    gap: 0.4rem;
  }

  .header h1 {
    font-size: 2.2rem;
  }

  .header p {
    font-size: 1rem;
  }

  /* Main */
  .main {
    width: 75%;
    top: -40px;
  }

  .main__form input,
  button {
    padding: 0.5rem 1rem;
  }

  .main__form button:hover {
    border: 1px solid #94c1d6;
    color: #3b424a;
    background-color: transparent;
  }

  /* Footer */
  .footer {
    padding: 2.5rem;
  }

  .footer__link {
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }

  .footer__link a:hover {
    transition: all 0.5s ease-in;
    color: #86afcf;
  }
}

@media(min-width: 1024px) {

  /* Header */
  .header {
    gap: 0.5rem;
  }

  .header h1 {
    font-size: 2.5rem;
  }

  .header p {
    font-size: 1.2rem;
  }

  /* Main */
  .main {
    top: -50px;
  }

  /* Footer */
  .footer {
    padding: 3rem;
  }

  .footer__link {
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }
}